<button class="btn btn-success" hx-get="/stock/form" hx-target="#content"> New</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nome</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <th scope="row"></th>
            <td>{{.Code}}</td>
            <td>{{.Name}}</td>
            <td><button class="btn btn-primary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" hx-put="/stock/{{.Code}}" hx-target="#content"> Editar</button></td>
            <td><button class="btn btn-danger btn-sm" hx-delete="/stock/{{.Code}}" hx-target="#content" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"> Apagar</button></td>
            <td></td>
        </tr>
        {{end}}
    </tbody>
  </table>


